{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Matemasie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">todo-y</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">you have no tasks. create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>tasks</th>
            <th>date</th>
            <th>edit</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.strftime('%a, %b %d') | lower }}</td> <!-- Formatted date in lowercase -->
                <td>
                    <a href="/delete/{{task.id}}" class="btn btn-delete">delete</a>
                    <!-- <br> -->
                    <a href="/update/{{task.id}}" class="btn btn-update">update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="add a task!">
        </form>
    </div>
</div>

<div class="footer"
    <footer>
        Created by Ayan Chandra
    </footer>
</div>
{% endblock %}